[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
tableschema = "*"
frictionless = "*"
datapackage-to-datasette = "*"

[dev-packages]
ipykernel = "*"
pipenv = "*"

[requires]
python_version = "3.11"
